<header>NASA + You</header>

<div class="container">
  <h4 style="font-size:20px;">On <%= @birthday %>, NASA made this discovery: 
    <h4>
      <p class="text"> <%= @general_message %> </p>
      <img src="<%= @image %>" id="img">
    </div>

    <footer>
      <button class="btn" onclick="window.location.href='/'">Enter another date</button>
    </footer>
