<h4>Enter your birthday to retrieve the photo NASA took on the day you were born.</h4>

  <form action="/birthday/results" method="post">
    <label for="birthday">Birthday:</label>
    <input type="date" id="birthday" name="birthday" required>

    <button style="display: inline-block;" class="btn" type="submit">Submit</button>
  </form>
